.snaps-wrapper
  .snap
    .snap-head
      .thumb-img
      .user-name=snap.user.username
      .time-ago
        ="#{time_ago_in_words snap.created_at} ago"
    .image.center-block
      =link_to image_tag(snap.image.url(:medium), class: 'img-responsive'), snap_path(snap)
    .snap-bottom
      .caption
        .caption-content=snap.caption
        .comments{id: "comments_#{snap.id}"}
        - if snap.comments
          - snap.comments.each do |comment|
            = render snap.comments, snap: snap, comment: comment

    .comment-like-form.row
      .col-sm-1
        = link_to '', like_snap_path(snap.id), remote: true, id: "like_#{snap.id}", class: "glyphicon glyphicon-#{liked_snap(snap)}"
        %span.likes-count
          = snap.get_likes.count
      .comment-form.co-sm-11
        = form_for [snap, snap.comments.build], remote: true do |f|
          = f.text_field :content, placeholder: "Add a comment ...", class: "comment_content", id: "comment_content_#{snap.id}"
